<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ theme.getThemeConfig("theme_title") }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="token" content="{{ csrfToken }}"/>
    <link rel="shortcut icon" href="{{ theme.uri("img/favicon.ico") }}" />

    <link href="{{ theme.uri("libraries/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet" media="screen">
    <link href="{{ theme.uri("libraries/bootstrap/css/bootstrap-theme.min.css") }}" rel="stylesheet" media="screen">

    <!-- Copyright 2006-2015 Daniel Garner. Part of the Xibo Open Source Digital Signage Solution. Released under the AGPLv3 or later. -->
    <style type="text/css">
        body {
            padding-top: 150px;
            padding-bottom: 40px;
            background: url(../theme/mediacraft/img/background.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: rgba(255, 255, 255, .8);
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }

    </style>
</head>
<body>
    <div class="container">
        <form id="login-form" class="form-signin text-center" action="{{ urlFor("login") }}" method="post">
            <input name="priorRoute" type="hidden" value="{{ flash.priorRoute }}" />
            <input type="hidden" name="{{ csrfKey }}" value="{{ csrfToken }}" />
            <p><a href="{{ theme.getThemeConfig("theme_url") }}"><img src="{{ theme.uri("img/xibologo.png") }}"></a></p>

            <p>{% trans "Please provide your credentials" %}</p>

            <input id="username" class="form-control input-block-level" name="username" type="text" placeholder="{% trans "User" %}" autofocus>
            <input id="password" class="form-control input-block-level" name="password" type="password" placeholder="{% trans "Password" %}">

            {% if flash.login_message %}
            <div class="alert alert-danger">{{ flash.login_message }}</div>
            {% endif %}

            <button class="btn btn-large btn-primary" type="submit">{% trans "Login" %}</button>
        </form>

        <p class="text-center">{% trans %}Version {{ version }}{% endtrans %}
            | <a id="source-link" href="{{ theme.getThemeConfig("cms_source_url") }}">{% trans "Source" %}</a>
            | <a id="about-link" class="XiboFormButton" href="{{ urlFor("about") }}" title="{% trans "About" %}">{% trans "About" %}</a>
        </p>
    </div> <!-- /container -->
    <script src="{{ theme.uri("libraries/jquery/jquery-1.11.1.min.js") }}"></script>
    <script src="{{ theme.uri("libraries/bootstrap/js/bootstrap.min.js") }}"></script>
</body>
</html>