/*
* Base structure
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
/* Base */
html {
  overflow-y: scroll;
}
body {
  background-color: #f2f2f2;
  color: #333333 !important;
  font-family: 'Open Sans', sans-serif !important;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.row > div {
  margin-bottom: 15px;
}
.alerts-container .alert:last-child {
  margin-bottom: 0px;
}
#page-wrapper {
  padding-left: 70px;
  height: 100%
}
#sidebar-wrapper {
  margin-left: -150px;
  left: -30px;
  width: 230px;
  position: fixed;
  height: 100%;
  z-index: 999;
}
.green {
  background: -webkit-linear-gradient(45deg, #38ef7d, #11998e) !important;
}
.blue {
  background: -webkit-linear-gradient(45deg, #0575e6, #021b79) !important;
}
.orange {
  background: -webkit-linear-gradient(45deg, #f7b733, #fc4a1a) !important;
}
.red {
  background: -webkit-linear-gradient(45deg, #ff512f, #dd2476) !important;
}
.form-group .help-block.form-group-inline-message {
  padding-top: 5px;
}
div.input-mask {
  padding-top: 7px;
}

/* Sidebar */
ul.sidebar {
  position: absolute;
  top: 0;
  bottom: 45px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}
#page-wrapper:not(.active) ul.sidebar {
  bottom: 0;
}
ul.sidebar li a {
  color: #fff;
  display: block;
  float: left;
  text-decoration: none;
  width: 230px;
}
ul.sidebar .sidebar-main {
  height: 65px;
}
ul.sidebar .sidebar-main a {
  font-size: 18px;
  line-height: 60px;
}
ul.sidebar .sidebar-main .menu-icon {
  float: right;
  font-size: 18px;
  padding-right: 28px;
  line-height: 60px;
}
ul.sidebar .sidebar-title {
  font-size: 12px;
  height: 34px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 10px 0;
}
#page-wrapper:not(.active) ul.sidebar .sidebar-title {
  display: none;
}
#page-wrapper:not(.active) ul.sidebar .sidebar-title.separator {
  display: block;
  height: 2px;
  margin: 13px 0;
}
ul.sidebar .sidebar-list {
  height: 24px;
}
ul.sidebar .sidebar-list a {
  text-indent: 25px;
  font-size: 15px;
  color: #ffffff;
  line-height: 22px;
}
ul.sidebar .sidebar-list a:hover {
  color: #f0f0f0;
}
#page-wrapper:not(.active) ul.sidebar .sidebar-list a:hover span {
    
}
ul.sidebar .sidebar-list .menu-icon {
  float: right;
  padding-right: 29px;
  line-height: 20px;
  width: 70px;
}
ul.sidebar .sidebar-list a:hover .menu-icon {
  text-indent: 25px;
}
.sidebar-footer {
  position: absolute;
  height: 40px;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
#page-wrapper:not(.active) .sidebar-footer {
  display: none;
}
.sidebar-footer div a {
  color: #ffffff;
  font-size: 12px;
  line-height: 43px;
}
.sidebar-footer div a:hover {
  color: #ffffff;
  text-decoration: none;
}

/* Main Content */
#content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}
@media only screen and (min-width:561px){
  #page-wrapper.active {
    padding-left: 230px;
  }
}
@media only screen and (max-width:560px){
  #page-wrapper.active {
    padding-left: 70px;
  }
}
#page-wrapper.active #sidebar-wrapper {
  left: 150px;
  z-index: 1;
}

/* Header */
.row.header {
  height: 60px;
  background-color: #ffffff !important;
  margin-bottom: 15px;
  z-index: 999;
}
.row.header > div:last-child {
  padding-right: 0;
}
.row.header .meta .page {
  font-size: 17px;
  padding-top: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (min-width : 993px) {
  .row.header .meta .page {
    width: 380px;
  }
}
@media only screen and (max-width : 992px) {
  .row header .meta .page {
    width: 230px;
  }
}
.row.header .meta .breadcrumb-links {
  font-size: 10px;
}
.row.header .login a {
  padding: 18px;
  display: block;
}
.row.header .user > .item {
  width: 65px;
  height: 60px;
  float: right;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.row.header .user > .item a {
  color: #919191;
  display: block;
}
.row.header .user > .item i {
  font-size: 20px;
  line-height: 55px;
}
.row.header .user > .item img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  border-radius: 2px;
}
.row.header .user > .item ul.dropdown-menu {
  border-radius: 2px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.05);
  box-shadow: 0 6px 12px rgba(0,0,0,.05);
}
.row.header .user > .item ul.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 23px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.row.header .user > .item ul.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 24px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
.row.header .user > .item ul.dropdown-menu .dropdown-header {
  text-align: center;
}
.row.header .user > .item ul.dropdown-menu li.link {
  text-align: left;
}
.row.header .user > .item ul.dropdown-menu li.link a {
  padding-left: 7px;
  padding-right: 7px;
}
.row.header .user > .item ul.dropdown-menu div {
  padding: 15px;
}

/* Widgets */
.widget {
  border-radius: 5px;
}
.widget .widget-title {
  color: #ffffff;
  background: linear-gradient(-90deg, #00d2ff, #3a7bd5);
  padding: 10px 15px;
  border-bottom: 1px solid #f5f5f5;
  line-height: 30px;
  font-weight: bold;
  font-size: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.widget .widget-title i {
  margin-right: 5px;
}
.widget .widget-title input {
  width: 25%;
}
/* Reset */
.widget .widget-title .bootstrap-select-searchbox input {
  width: 100%;
}
.widget .widget-body {
  padding: 20px;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.widget .widget-audience {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
}
.widget .widget-body table thead * {
  font-size: 14px !important;
}
.widget .widget-body table tbody * {
  font-size: 13px !important;
}

.widget .widget-body table tbody .btn-tag { 
    padding: 0px 5px;
}

.widget .widget-body.no-padding .error, .widget .widget-body.no-padding .message {
  padding: 20px;
}
.widget .widget-body .error {
  color: #ff0000;
}
.widget .widget-body table thead {
  background: #fafafa;
}
.widget .widget-body.large {
  height: 350px;
  overflow-y: auto;
}
.widget .widget-body.medium {
  height: 250px;
  overflow-y: auto;
}
.widget .widget-body.small {
  height: 150px;
  overflow-y: auto;
}
.widget .widget-body.no-padding {
  padding: 0;
}
.widget .widget-body button {
  margin-left: 5px;
}
.widget .widget-body div.alert {
  margin-bottom: 10px;
}
.widget .widget-icon {
  background: #30426a;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 15px;
}
.widget .widget-icon i {
  line-height: 66px;
  color: #ffffff;
  font-size: 30px;
}
.widget .widget-content .title {
  font-size: 28px;
  display: block;
}

.title-gradient {
  font-size: 30px;
  letter-spacing: -1px;
  background: -webkit-linear-gradient(#00d2ff, #3a7bd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  display: block;
}

.audience-gradient {
  font-size: 36px;
  letter-spacing: -1px;
  background: -webkit-linear-gradient(#00d2ff, #3a7bd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  display: block;
}

/* Blue */
ul.sidebar .sidebar-main a,
.sidebar-footer, 
ul.sidebar .sidebar-list a:hover,
#page-wrapper:not(.active) ul.sidebar .sidebar-title.separator {
  /* Sidebar header and footer color */
  background: rgba(255, 255, 255, .2);
}
#sidebar-wrapper {
  /* Sidebar background color */
  background: linear-gradient(rgba(58, 123, 213, 0.7), rgba(58, 123, 213, 1.0)), 
              url(https://hdwallsource.com/img/2014/8/keyboard-wallpaper-hd-38999-39895-hd-wallpapers.jpg) no-repeat center center fixed;
  background-size: cover;
}
ul.sidebar .sidebar-title {
  /* Sidebar title text colour */
  color: #ffffff;
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.2));
  font-weight: bold;
  font-size: 16px;
  text-shadow: 2px 2px black;
}

.news-widget div.article {
  padding-top: 15px;
}
